  <div class="row">
    <button class="btn-slim btn-dark btn-block btn-header">
      Select Your View
    </button>
  </div>
  <div class="row intervention-controls">
    <div class="col-xs-12">
      <div class="checkbox">
        <label><input name="view" type="checkbox" checked value="line">Line</label>
      </div>
      <div class="checkbox">
        <label><input name="view" type="checkbox" value="bar">Bars</label>
      </div>
      <div class="checkbox">
        <label><input name="view" type="checkbox" checked value="interventions">Interventions</label>
      </div>
    </div>
  </div>
