/*

GRAPH BUILD COMMON

 */

.btn-continue{
  margin-top: 25px;
  float: right;
}

.add-patient-step,
.add-entries-step,
.add-interventions-step,
.add-confirmation-step{
  header{
    h1{
      font-weight: 400;
      font-size: 14px;
    }
    h2{
      font-weight: 200;
      font-size: 12px;
    }
    margin-bottom: 0px;
  }
}

/*

GRAPH BUILD STEPS

 */

.add-patient-step{
  header{
    h1{
      font-weight: 400;
      font-size: 14px;
    }
    margin-bottom: 25px;
  }
  .bootstrap-select{
    width: 100% !important;
  }
}

.add-entries-step{

}

.add-interventions-step{
  .intervention-form{
    display:none;

    label{
      margin-top: 15px;
    }
  }
}
