// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.graph-row{
  img{
    width: 48px;
    height: 48px;
    display: inline;
  }
}

/*

GRAPHS - INDEX

 */
.graph-viewer{
  header{
    h1{
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 25px;
      line-height: 75px;

      .patient-avatar{
        img{
          max-height: 75px;
        }
      }
    }
    h2{
      font-weight: 200;
      font-size: 12px;
    }
  }
}
