// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.graph-row{
  img{
    width: 48px;
    height: 48px;
    display: inline;
  }
}
